<template>
  <div class="accesibility-view">
    <b-button variant="primary" class="b-button-top-table inline-block-child" v-b-modal.modal-calculate-stops :disabled="buttonDisabled"
      >Calcular paradas con mala accesibilidad</b-button
    >
    <!-- Filtro -->
    <b-col lg="6" class="my-1 inline-block-child">
      <b-form-group
        label="Filtrar"
        label-for="filter-input"
        label-cols-sm="3"
        label-align-sm="right"
        label-size="sm"
        class="mb-0"
      >
        <b-input-group size="sm">
          <b-form-input
            id="filter-input"
            v-model="filter"
            type="search"
            placeholder="Escribe para Buscar"
          ></b-form-input>

          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''"
              >Limpiar</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    </b-col>
    <!-- Tabla de paradas con mala accesibilidad -->
    <b-table
      striped
      hover
      small
      :items="badAccessStops.list"
      :fields="badAccessStops.fields"
      :filter="filter"
      :current-page="currentPage"
      :per-page="perPage"
      @filtered="onFiltered"
      caption-top
    >
      <template #cell(map)="row">
        <b-icon
          class="b-icon-actions"
          icon="map"
          size="sm"
          @click="
            handleClickMap(
              row.item.stopId,
              row.item.badAccessStop
            )"
        ></b-icon>
      </template>
    </b-table>
    <!-- Paginación -->
    <b-col sm="7" md="6" class="b-col-pagination">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="b-pagination-pagination"
      ></b-pagination>
    </b-col>

    
    <b-modal
      id="modal-calculate-stops"
      title="Calcular paradas con mala accesibilidad"
      centered
      @hide="resetCalculateStops"
      @ok="calculateBadAccessStops"
    >
      <label>Distancia en metros entre paradas (0-20000):</label>
      <b-form-input
        v-model="meters"
        placeholder="100"
        type="number"
        min="0"
        max="20000"
      ></b-form-input>
      <label>Tiempo en minutos entre paradas (0-600):</label>
      <b-form-input
        v-model="time"
        placeholder="10"
        type="number"
        min="0"
        max="600"
      ></b-form-input>
    </b-modal>
  </div>
</template>

<script>
import BadAccessStopsRepository from "@/repositories/BadAccessStopsRepository";
import store from "../common/store";

export default {
  data() {
    return {
      badAccessStops: {
        list: [],
        fields: [
          { key: "stopId.code", label: "Desde parada" },
          { key: "stopId.name", label: "Nombre" },
          { key: "stopId.desc", label: "Descripción" },
          { key: "badAccessStop.code", label: "Hacia parada" },
          { key: "badAccessStop.name", label: "Nombre" },
          { key: "badAccessStop.desc", label: "Descripción" },
          { key: "map", label: "Ver en el mapa" },
        ],
      },
      calculateStopsModal: {
        id: "modal-calculate-stops",
        title: "",
        content: "",
      },
      calculating: false,
      filter: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      meters: "",
      time: "",
      buttonDisabled: false,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.badAccessStops.list = await BadAccessStopsRepository.findAll();
      this.onFiltered(this.badAccessStops.list);
    },
    async calculateBadAccessStops() {
      store.state.loading.badStops = true;
      this.buttonDisabled = true;
      if (this.meters == "") this.meters = 100;
      if (this.time == "") this.time = 10;
      await BadAccessStopsRepository.calculateBadAccessStops(
        this.meters,
        this.time
      )
        .then(() => {
          this.$notify({
            text: "Paradas con mala accesibilidad calculadas correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
          store.state.loading.badStops = false;
          this.buttonDisabled = false;
        });
      store.state.loading.badStops = false;
      this.buttonDisabled = false;
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    resetCalculateStops() {
      (this.meters = ""), (this.time = "");
    },
    handleClickMap(stop, badAccessStop) {
      store.badAccessStops.fromStop = stop;
      store.badAccessStops.toStop = badAccessStop;
      store.badAccessStops.enabled = true;
      this.$router.push("/map");
    }
  },
};
</script>