<template>
  <div class="home">
    <h1 class="titulo">Aplicación web para el cálculo de rutas multimodales mediante especificaciones GTFS</h1>
    <img
      class="bus-logo"
      alt="Bus logo"
      src="../assets/bus-symbol.png"
      width="300"
      height="300"
    />
  </div>
</template>

