<template>
  <div class="import-files">
    Especificaciones GTFS cargadas actuales:
    <b-list-group v-for="file in gtfs.builded" :key="file">
      <b-list-group-item>{{ file }}</b-list-group-item>
    </b-list-group>
    <br />
    Archivo .osm.pbf cargado actual:
    <b-list-group-item>{{ pbf.builded }}</b-list-group-item>

    <!-- Botón de cargar modelo y añadir fichero GTFS -->
    <div>
      <b-button
        variant="primary"
        class="b-button-new"
        v-if="!loading.import"
        v-b-modal.modal-add-gtfs
        >Importar archivo .zip</b-button
      >
      <b-button
        variant="primary"
        class="b-button-load-model"
        v-if="!loading.import"
        @click="loadGtfs($event.target)"
        >Cargar modelo</b-button
      >
    </div>
    <!-- Tabla de archivos gtfs importados -->
    <b-table
      striped
      hover
      small
      :items="gtfs.list"
      :fields="gtfs.fields"
      :filter="filter"
      caption-top
    >
      <template #table-caption
        >Archivos .zip importados que contienen especificaciones GTFS.</template
      >

      <template v-if="!loading.import" #cell(delete)="row">
        <b-icon
          class="b-icon-actions"
          icon="trash"
          size="sm"
          @click="removeGtfs(row.item, row.index, $event.target)"
        ></b-icon>
      </template>
    </b-table>
    <b-modal
      :id="removeGtfsModal.id"
      :title="removeGtfsModal.title"
      @hide="resetRemoveGtfsModal"
      @ok="removeGtfsFile"
      centered
    >
      {{ removeGtfsModal.content }}
    </b-modal>

    <b-modal
      id="modal-add-gtfs"
      title="Importar archivo GTFS"
      centered
      @hide="resetImportZip"
      @ok="importZip"
    >
      <b-form-file
        v-model="gtfs.file"
        :state="Boolean(gtfs.file)"
        placeholder="Selecciona un archivo .zip o arrástralo aquí..."
        drop-placeholder="Suéltalo aquí..."
        browse-text="Examinar"
        accept=".zip"
      ></b-form-file>
    </b-modal>
    <b-modal
      :id="loadGtfsModal.id"
      :title="loadGtfsModal.title"
      @hide="resetLoadGtfsModal"
      @ok="loadGtfsFile"
      centered
      scrollable
    >
      <b-card :header="loadGtfsModal.content">
        <b-list-group v-for="file in gtfs.list" :key="file.name">
          <b-list-group-item>{{ file.name }}</b-list-group-item>
        </b-list-group>
      </b-card>
    </b-modal>

    <!-- Botón de añadir fichero OSM -->
    <b-button
      variant="primary"
      class="b-button-new"
      v-b-modal.modal-add-pbf
      >Importar archivo .osm.pbf</b-button
    >
    <!-- Tabla de archivos pbf importados -->
    <b-table
      striped
      hover
      small
      :items="pbf.list"
      :fields="pbf.fields"
      :filter="filter"
      caption-top
    >
      <template #table-caption
        >Archivos .osm.pbf que contiene información del mapa necesaria para
        OpenTripPlanner.</template
      >
      <template v-if="!loading.import" #cell(upload)="row">
        <b-icon
          class="b-icon-actions"
          icon="upload"
          size="sm"
          @click="loadPbf(row.item, row.index, $event.target)"
        ></b-icon>
      </template>
      <template v-if="!loading.import" #cell(delete)="row">
        <b-icon
          class="b-icon-actions"
          icon="trash"
          size="sm"
          @click="removePbf(row.item, row.index, $event.target)"
        ></b-icon>
      </template>
    </b-table>
    <b-modal
      :id="loadPbfModal.id"
      :title="loadPbfModal.title"
      @hide="resetLoadPbfModal"
      @ok="loadPbfFile"
      centered
    >
      {{ loadPbfModal.content }}
    </b-modal>
    <b-modal
      :id="removePbfModal.id"
      :title="removePbfModal.title"
      @hide="resetRemovePbfModal"
      @ok="removePbfFile"
      centered
    >
      {{ removePbfModal.content }}
    </b-modal>

    <b-modal
      id="modal-add-pbf"
      title="Importar archivo OSM"
      centered
      @hide="resetImportPbf"
      @ok="importPbf"
    >
      <b-form-file
        v-model="pbf.file"
        :state="Boolean(pbf.file)"
        placeholder="Selecciona un archivo .osm.pbf o arrástralo aquí..."
        drop-placeholder="Suéltalo aquí..."
        browse-text="Examinar"
        accept=".osm.pbf"
      ></b-form-file>
    </b-modal>
  </div>
</template>

<script>
import PbfRepository from "@/repositories/PbfRepository";
import GtfsRepository from "@/repositories/GtfsRepository";
import store from "../common/store";

export default {
  data() {
    return {
      loading: store.state.loading,
      gtfs: {
        list: [],
        builded: "",
        file: [],
        fields: [
          { key: "name", label: "Nombre del archivo GTFS" },
          { key: "routeType", label: "Tipo de transporte" },
          { key: "upload", label: "" },
          { key: "delete", label: "" },
        ],
      },
      pbf: {
        list: [],
        builded: "",
        file: [],
        fields: [
          { key: "name", label: "Nombre del archivo .OSM.PBF" },
          { key: "upload", label: "" },
          { key: "delete", label: "" },
        ],
      },
      filter: null,
      removeGtfsModal: {
        id: "remove-gtfs-modal",
        title: "",
        content: "",
      },
      loadGtfsModal: {
        id: "load-gtfs-modal",
        title: "",
        content: "",
      },
      removePbfModal: {
        id: "remove-pbf-modal",
        title: "",
        content: "",
      },
      loadPbfModal: {
        id: "load-pbf-modal",
        title: "",
        content: "",
      },
      gtfsToRemove: null,
      gtfsToLoad: null,
      pbfToRemove: null,
      pbfToLoad: null,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    importPbf() {
      var pbf = new FormData();
      pbf.append("file", this.pbf.file);
      if (pbf.get("file") == "") {
        this.$notify({
          text: "El campo del fichero PBF está vacío",
          type: "error",
        });
        return;
      }
      PbfRepository.importPbf(pbf)
        .then(() => {
          this.$notify({
            text: "Archivo PBF importado correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    importZip() {
      var gtfs = new FormData();
      gtfs.append("file", this.gtfs.file);
      if (gtfs.get("file") == "") {
        this.$notify({
          text: "El campo del fichero ZIP está vacío",
          type: "error",
        });
        return;
      }
      GtfsRepository.importGtfs(gtfs)
        .then(() => {
          this.$notify({
            text: "Archivo ZIP importado correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    removeGtfsFile() {
      var fileName = this.gtfsToRemove;
      if (fileName == "") {
        this.$notify({
          text: "El campo del fichero GTFS está vacío",
          type: "error",
        });
        return;
      }
      GtfsRepository.removeGtfs(fileName)
        .then(() => {
          this.$notify({
            text: "Archivo GTFS eliminado correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    removePbfFile() {
      var fileName = this.pbfToRemove;
      if (fileName == "") {
        this.$notify({
          text: "El campo del fichero PBF está vacío",
          type: "error",
        });
        return;
      }
      PbfRepository.removePbf(fileName)
        .then(() => {
          this.$notify({
            text: "Archivo PBF eliminado correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    async loadGtfsFile() {
      store.state.loading.import = true;
      var files = [];
      for (var i = 0; i < this.gtfs.list.length; i++)
        files.push(this.gtfs.list[i].name);
      if (files.length < 0) {
        this.$notify({
          text: "No hay especificaciones GTFS importadas",
          type: "error",
        });
        store.state.loading.import = false;
        return;
      }
      await GtfsRepository.buildGtfs(files)
        .then(() => {
          this.$notify({
            text: "Archivos GTFS cargados correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
      store.state.loading.import = false;
      this.fetchData();
    },
    async loadPbfFile() {
      store.state.loading.import = true;
      var fileName = this.pbfToLoad;
      if (fileName == "") {
        this.$notify({
          text: "El campo del fichero PBF está vacío",
          type: "error",
        });
        store.state.loading.import = false;
        return;
      }
      await PbfRepository.buildPbf(fileName)
        .then(() => {
          this.$notify({
            text: "Archivo PBF cargado correctamente",
          });
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
      store.state.loading.import = false;
      this.fetchData();
    },
    async fetchData() {
      this.pbf.list = await PbfRepository.findAll();
      var gtfsList = await GtfsRepository.findAll();
      this.gtfs.builded = await GtfsRepository.buildedGtfs();
      this.pbf.builded = await PbfRepository.buildedPbf();
      this.gtfs.list = [];
      for (var i = 0; i < gtfsList.length; i++) {
        var routeTypes = "";
        for (var j = 0; j < gtfsList[i].routeType.length; j++) {
          if (routeTypes == "")
            routeTypes += gtfsList[i].routeType[j].routeType;
          else routeTypes += ", " + gtfsList[i].routeType[j].routeType;
        }
        this.gtfs.list.push({
          name: gtfsList[i].name,
          routeType: routeTypes,
        });
      }
    },
    removeGtfs(item, index, button) {
      this.removeGtfsModal.title = "Eliminar especificaciones GTFS";
      this.removeGtfsModal.content =
        "¿Eliminar especificaciones " + item.name + "?";
      this.gtfsToRemove = item.name;
      this.$root.$emit("bv::show::modal", this.removeGtfsModal.id, button);
    },
    resetRemoveGtfsModal() {
      this.removeGtfsModal.title = "";
      this.removeGtfsModal.content = "";
      this.gtfsToRemove = null;
    },
    loadGtfs(button) {
      this.loadGtfsModal.title = "Cargar especificaciones GTFS";
      this.loadGtfsModal.content =
        "Se cargarán las siguientes especificaciones en base de datos:";
      this.$root.$emit("bv::show::modal", this.loadGtfsModal.id, button);
    },
    resetLoadGtfsModal() {
      this.loadGtfsModal.title = "";
      this.loadGtfsModal.content = "";
      this.gtfsToLoad = null;
    },
    removePbf(item, index, button) {
      this.removePbfModal.title = "Eliminar fichero .osm.pbf";
      this.removePbfModal.content = "¿Eliminar " + item.name + "?";
      this.pbfToRemove = item.name;
      this.$root.$emit("bv::show::modal", this.removePbfModal.id, button);
    },
    resetRemovePbfModal() {
      this.removePbfModal.title = "";
      this.removePbfModal.content = "";
      this.pbfToRemove = null;
    },
    loadPbf(item, index, button) {
      this.loadPbfModal.title = "Cargar fichero .osm.pbf";
      this.loadPbfModal.content =
        "¿Cargar " + item.name + " en OpenTripPlanner?";
      this.pbfToLoad = item.name;
      this.$root.$emit("bv::show::modal", this.loadPbfModal.id, button);
    },
    resetLoadPbfModal() {
      this.loadPbfModal.title = "";
      this.loadPbfModal.content = "";
      this.pbfToLoad = null;
    },
    resetImportZip() {
      this.gtfs.file = "";
    },
    resetImportPbf() {
      this.pbf.file = "";
    },
  },
};
</script>
