<template>
  <div class="manage-view">
    <!-- Botón de añadir usuario -->
    <b-button variant="primary" class="b-button-top-table inline-block-child" v-b-modal.modal-add>Crear usuario</b-button>

    <!-- Filtro -->
    <b-col lg="6" class="my-1 inline-block-child">
      <b-form-group
        label="Filtrar"
        label-for="filter-input"
        label-cols-sm="3"
        label-align-sm="right"
        label-size="sm"
        class="mb-0"
      >
        <b-input-group size="sm">
          <b-form-input
            id="filter-input"
            v-model="filter"
            type="search"
            placeholder="Escribe para Buscar"
          ></b-form-input>

          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''"
              >Limpiar</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    </b-col>

    <!-- Tabla de usuarios -->
    <b-table
      striped
      hover
      small
      :items="users"
      :fields="table.fields"
      :filter="filter"
      :current-page="currentPage"
      :per-page="perPage"
      @filtered="onFiltered"
    >
      <template #cell(delete)="row">
        <b-icon
          class="b-icon-actions"
          v-if="current_user.login != row.item.login"
          icon="pencil"
          size="sm"
          @click="update(row.item, row.index, $event.target)"
        ></b-icon>
      </template>
      <template #cell(edit)="row">
        <b-icon
          class="b-icon-actions"
          v-if="current_user.login != row.item.login"
          icon="trash"
          size="sm"
          @click="remove(row.item, row.index, $event.target)"
        ></b-icon>
      </template>
    </b-table>
    <b-modal
      :id="removeModal.id"
      :title="removeModal.title"
      @hide="resetRemoveModal"
      @ok="userRemove"
      centered
    >
      <pre>{{ removeModal.content }}</pre>
    </b-modal>
    <b-modal
      :id="updateModal.id"
      :title="updateModal.title"
      @hide="resetUpdateModal"
      @ok="userUpdate"
      centered
    >
      <pre>{{ updateModal.content }}</pre>
      <b-form-group label="Autoridad:" label-for="input-3">
        <b-form-select
          v-model="updateModal.user.authority"
          :options="updateModal.options"
        ></b-form-select>
      </b-form-group>
    </b-modal>

    <!-- Paginación -->
    <b-col sm="7" md="6" class="b-col-pagination">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="b-pagination-pagination"
      ></b-pagination>
    </b-col>

    <b-modal id="modal-add" title="Crear usuario" centered hide-footer>
      <b-form @submit.prevent="userCreate">
        <b-form-group label="Nombre de usuario:" label-for="input-1">
          <b-form-input
            v-model="username"
            placeholder="Introduce el nombre de usuario"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Contraseña:" label-for="input-2">
          <b-form-input
            v-model="password"
            type="password"
            placeholder="Introduce la contraseña"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Autoridad:" label-for="input-3">
          <b-form-select v-model="authority" :options="options"></b-form-select>
        </b-form-group>
        <div class="b-button-create-user text-center">
          <b-button type="submit" variant="primary">Crear usuario</b-button>
        </div>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import AccountRepository from "../repositories/AccountRepository";
import UserRepository from "../repositories/UserRepository";
import store from "@/common/store";

export default {
  data() {
    return {
      username: "",
      password: "",
      authority: "MUNICIPAL",
      filter: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      options: [
        { value: "MUNICIPAL", text: "MUNICIPAL" },
        { value: "ADMIN", text: "ADMIN" },
      ],
      users: [],
      user_id: "",
      table: {
        fields: [
          {
            key: "id",
            label: "ID",
            sortable: true,
          },
          {
            key: "login",
            label: "Usuario",
            sortable: true,
          },
          {
            key: "authority",
            label: "Autoridad",
            sortable: true,
          },
          { key: "delete", label: "" },
          { key: "edit", label: "" },
        ],
      },
      removeModal: {
        id: "remove-modal",
        title: "",
        content: "",
      },
      updateModal: {
        id: "update-modal",
        title: "",
        content: "",
        user: {
          id: "",
          login: "",
          oldAuthority: "",
          authority: "",
        },
        options: [
          { value: "USER", text: "USER" },
          { value: "MUNICIPAL", text: "MUNICIPAL" },
          { value: "ADMIN", text: "ADMIN" },
        ],
      },
    };
  },
  mounted() {
    this.fetchData();
    this.fetchCurrentUser();
  },
  methods: {
    userCreate() {
      AccountRepository.createAccount({
        login: this.username,
        password: this.password,
        authority: this.authority,
      })
        .then(() => {
          this.$notify({
            text:
              "Usuario " +
              this.username +
              " creado con autoridad " +
              this.authority,
          });
          this.resetCreate();
          this.fetchData();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    userRemove() {
      AccountRepository.removeAccount({
        id: this.user_id,
        login: "remove",
        password: "remove",
      })
        .then(() => {
          this.$notify({
            text: "Usuario " + this.user_id + " eliminado",
          });
          this.fetchData();
          this.user_id = "";
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    userUpdate() {
      if (this.updateModal.user.authority != this.updateModal.user.oldAuthority)
        AccountRepository.updateAccount({
          id: this.updateModal.user.id,
          login: this.updateModal.user.login,
          password: "pass",
          authority: this.updateModal.user.authority,
        })
          .then(() => {
            this.$notify({
              text:
                "Autoridad de usuario " +
                this.updateModal.user.login +
                " actualizada a " +
                this.updateModal.user.authority,
            });
            this.fetchData();
          })
          .catch((err) => {
            console.log(err);
            this.$notify({
              text: err.response.data.message,
              type: "error",
            });
          });
    },
    async fetchData() {
      this.users = await UserRepository.findAll();
      this.users.sort((a, b) => a.id - b.id);
      // Set the initial number of items
      this.totalRows = this.users.length;
    },
    fetchCurrentUser() {
      this.current_user = store.state.user;
    },
    resetCreate() {
      this.username = "";
      this.password = "";
    },
    remove(item, index, button) {
      this.removeModal.title = "Eliminar usuario";
      this.removeModal.content =
        "¿Eliminar usuario " + item.login + "(" + item.id + ")?";
      this.user_id = item.id;
      this.$root.$emit("bv::show::modal", this.removeModal.id, button);
    },
    resetRemoveModal() {
      this.removeModal.title = "";
      this.removeModal.content = "";
      this.user_id = "";
    },
    update(item, index, button) {
      this.updateModal.title = "Actualizar usuario";
      this.updateModal.content =
        "Actualizar la autoridad del usuario " +
        item.login +
        "(" +
        item.id +
        ") a:";
      this.updateModal.user.id = item.id;
      this.updateModal.user.login = item.login;
      this.updateModal.user.oldAuthority = item.authority;
      this.updateModal.user.authority = item.authority;
      this.$root.$emit("bv::show::modal", this.updateModal.id, button);
    },
    resetUpdateModal() {
      this.updateModal.title = "";
      this.updateModal.content = "";
      this.updateModal.user.id = "";
      this.updateModal.user.login = "";
      this.updateModal.options = [
        { value: "USER", text: "USER" },
        { value: "MUNICIPAL", text: "MUNICIPAL" },
        { value: "ADMIN", text: "ADMIN" },
      ];
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
};
</script>
