<template>
  <div v-if="!loading.map">
    <!-- Menú botón derecho sobre mapa -->
    <div @contextmenu.prevent="$refs.ctxMenu.open">
      <!-- Mapa -->
      <l-map
        id="map"
        :zoom="zoom"
        :center="center"
        :options="{ zoomControl: false }"
        @contextmenu="handleContextMenu"
      >
        <l-control-zoom position="bottomright"></l-control-zoom>
        <!-- Opciones botón derecho -->
        <context-menu id="context-menu" ref="ctxMenu">
          <li @click="handleStartPoint">Punto de salida.</li>
          <li @click="handleEndPoint">Punto de llegada.</li>
          <li @click="resetMarkers">Eliminar marcadores.</li>
        </context-menu>
        <!-- Círculos de salida y llegada -->
        <l-circle-marker
          v-if="start_point !== ''"
          :lat-lng="start_point"
          :color="'green'"
          :radius="3"
        ></l-circle-marker>
        <l-circle-marker
          v-if="end_point !== ''"
          :lat-lng="end_point"
          :color="'red'"
          :radius="3"
        ></l-circle-marker>
        <!-- Botón calcular ruta -->
        <l-control position="topleft">
          <b-button
            @click="handleClickPlan"
            :disabled="plan_button_disabled"
            variant="primary"
            >Calcular ruta</b-button
          >
          <!-- Lista de planes de ruta -->
          <div v-if="plans !== ''">
            <b-form-group class="b-form-group">
              <div
                class="plans-list"
                v-for="(itinerary, id) in itineraries_list"
                :key="id"
              >
                <b-form-radio
                  class="b-form-radio"
                  :value="id"
                  v-model="selected_plan"
                  @change="loadItinerarie"
                >
                  Salida: {{ itinerary.departure_time }} Llegada:
                  {{ itinerary.arrival_time }} Duración:
                  {{ itinerary.duration }}
                  <br />
                  <label class="final-plans"> {{ itinerary.plan }} </label>
                </b-form-radio>
              </div>
            </b-form-group>
          </div>
        </l-control>
        <!-- Líneas de rutas calculadas -->
        <div>
          <l-polyline
            v-for="(walk, keyWalk) in itinerarie.walks.shape_walks.polyline"
            :key="keyWalk"
            :lat-lngs="walk"
            :color="itinerarie.walks.shape_walks.color"
          >
            <l-popup>
              {{ itinerarie.walks.streets.from[keyWalk] }} =>
              {{ itinerarie.walks.streets.to[keyWalk] }}
              <br />
              Salida a las {{ itinerarie.walks.departure_time[keyWalk] }}
              <br />
              Duración {{ itinerarie.walks.duration[keyWalk] }}
            </l-popup>
          </l-polyline>
        </div>
        <div>
          <l-polyline
            v-for="(bus, keyBus) in itinerarie.bus.shape_bus.polyline"
            :key="keyBus"
            :lat-lngs="bus"
            :color="itinerarie.bus.shape_bus.color"
          >
            <l-popup>
              Línea {{ itinerarie.bus.route_name[keyBus] }}
              <br />
              Salida a las {{ itinerarie.bus.departure_time[keyBus] }}
              <br />
              Duración {{ itinerarie.bus.duration[keyBus] }}
            </l-popup>
          </l-polyline>
        </div>
        <div>
          <l-polyline
            v-for="(subway, keySubway) in itinerarie.subway.shape_subway
              .polyline"
            :key="keySubway"
            :lat-lngs="subway"
            :color="itinerarie.subway.shape_subway.color"
          >
            <l-popup>
              Línea {{ itinerarie.subway.route_name[keySubway] }}
              <br />
              Salida a las {{ itinerarie.subway.departure_time[keySubway] }}
              <br />
              Duración {{ itinerarie.subway.duration[keySubway] }}
            </l-popup>
          </l-polyline>
        </div>
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <!-- Checkbox paradas y rutas -->
        <l-control position="topright">
          <b-list-group class="checkbox-list">
            <b-list-group-item>
              <label @click="collapseStopsList = !collapseStopsList"
                ><b-icon
                  class="b-icon-collapse"
                  icon="chevron-right"
                  v-if="!collapseStopsList"
                ></b-icon>
                <b-icon
                  class="b-icon-collapse"
                  icon="chevron-down"
                  v-if="collapseStopsList"
                ></b-icon>
                Paradas</label
              >
              <b-collapse v-model="collapseStopsList">
                <b-list-group class="checkbox-sublist">
                  <b-list-group-item
                    class="list-group-item border-0"
                    v-if="busStops.length > 0"
                  >
                    <b-form-checkbox
                      value="checkedBusStops"
                      v-model="checkedBusStops"
                      >Bus</b-form-checkbox
                    >
                  </b-list-group-item>
                  <b-list-group-item
                    class="list-group-item border-0"
                    v-if="subwayStops.length > 0"
                  >
                    <b-form-checkbox
                      value="checkedSubwayStops"
                      v-model="checkedSubwayStops"
                      >Metro</b-form-checkbox
                    >
                  </b-list-group-item>
                  <div
                    v-if="
                      user.authority == 'ADMIN' || user.authority == 'MUNICIPAL'
                    "
                  >
                    <b-list-group-item
                      class="list-group-item border-0"
                      v-if="badAccessStops.enabled"
                    >
                      <b-form-checkbox
                        value="checkedBadStops"
                        v-model="checkedBadStops"
                        >Paradas con mal acceso
                      </b-form-checkbox>
                    </b-list-group-item>
                  </div>
                </b-list-group>
              </b-collapse>
            </b-list-group-item>
            <b-list-group-item>
              <label @click="collapseShapesList = !collapseShapesList"
                ><b-icon
                  class="b-icon-collapse"
                  icon="chevron-right"
                  v-if="!collapseShapesList"
                ></b-icon>
                <b-icon
                  class="b-icon-collapse"
                  icon="chevron-down"
                  v-if="collapseShapesList"
                ></b-icon>
                Rutas</label
              >
              <b-collapse v-model="collapseShapesList">
                <b-list-group class="checkbox-sublist">
                  <b-list-group-item
                    class="list-group-item border-0"
                    v-if="busShapes.length > 0"
                  >
                    <b-form-checkbox
                      value="BusShapes"
                      v-model="checkedBusShapes"
                      >Bus</b-form-checkbox
                    >
                  </b-list-group-item>
                  <b-list-group-item
                    class="list-group-item border-0"
                    v-if="subwayShapes.length > 0"
                  >
                    <b-form-checkbox
                      value="SubwayShapes"
                      v-model="checkedSubwayShapes"
                      >Metro</b-form-checkbox
                    >
                  </b-list-group-item>
                </b-list-group>
              </b-collapse>
            </b-list-group-item>
          </b-list-group>
        </l-control>
        <!-- Paradas -->
        <div
          class="container"
          id="app-container"
          v-if="checkedStops || checkedBusStops"
        >
          <div v-for="stop in busStops" :key="stop.id">
            <div v-if="stop.stopsRouteType.length > 0">
              <l-marker
                :lat-lng="stop.point.coordinates"
                :icon="iconBusStop"
                @click="
                  getStopRoutes(
                    stop.name,
                    stop.id,
                    stop.code,
                    stop.desc,
                    stop.wheelchairBoarding,
                    stop.point.coordinates
                  )
                "
              >
              </l-marker>
            </div>
          </div>
        </div>
        <div
          class="container"
          id="app-container"
          v-if="checkedStops || checkedSubwayStops"
        >
          <div v-for="stop in subwayStops" :key="stop.id">
            <div v-if="stop.stopsRouteType.length > 0">
              <l-marker
                :lat-lng="stop.point.coordinates"
                :icon="iconSubwayStop"
                @click="
                  getStopRoutes(
                    stop.name,
                    stop.id,
                    stop.code,
                    stop.desc,
                    stop.wheelchairBoarding,
                    stop.point.coordinates
                  )
                "
              >
              </l-marker>
            </div>
          </div>
        </div>
        <!-- Paradas con mala accesibilidad -->
        <div v-if="user.authority == 'ADMIN' || user.authority == 'MUNICIPAL'">
          <div v-if="badAccessStops.fromStop != ''">
            <div class="container" id="app-container" v-if="checkedBadStops">
              <div
                v-if="
                  badAccessStops.fromStop.stopsRouteType[0].stopsRouteType ==
                  'AUTOBÚS'
                "
              >
                <l-marker
                  :lat-lng="badAccessStops.fromStop.point.coordinates"
                  :icon="iconBadBusStop"
                  @click="
                    getStopRoutes(
                      badAccessStops.fromStop.name,
                      badAccessStops.fromStop.id,
                      badAccessStops.fromStop.code,
                      badAccessStops.fromStop.desc,
                      badAccessStops.fromStop.wheelchairBoarding,
                      badAccessStops.fromStop.point.coordinates
                    )
                  "
                >
                </l-marker>
              </div>
              <div
                v-if="
                  badAccessStops.fromStop.stopsRouteType[0].stopsRouteType ==
                  'METRO'
                "
              >
                <l-marker
                  :lat-lng="badAccessStops.fromStop.point.coordinates"
                  :icon="iconBadSubwayStop"
                  @click="
                    getStopRoutes(
                      badAccessStops.fromStop.name,
                      badAccessStops.fromStop.id,
                      badAccessStops.fromStop.code,
                      badAccessStops.fromStop.desc,
                      badAccessStops.fromStop.wheelchairBoarding,
                      badAccessStops.fromStop.point.coordinates
                    )
                  "
                >
                </l-marker>
              </div>
              <div
                v-if="
                  badAccessStops.toStop.stopsRouteType[0].stopsRouteType ==
                  'AUTOBÚS'
                "
              >
                <l-marker
                  :lat-lng="badAccessStops.toStop.point.coordinates"
                  :icon="iconBadBusStop"
                  @click="
                    getStopRoutes(
                      badAccessStops.toStop.name,
                      badAccessStops.toStop.id,
                      badAccessStops.toStop.code,
                      badAccessStops.toStop.desc,
                      badAccessStops.toStop.wheelchairBoarding,
                      badAccessStops.toStop.point.coordinates
                    )
                  "
                >
                </l-marker>
              </div>
              <div
                v-if="
                  badAccessStops.toStop.stopsRouteType[0].stopsRouteType ==
                  'METRO'
                "
              >
                <l-marker
                  :lat-lng="badAccessStops.toStop.point.coordinates"
                  :icon="iconBadSubwayStop"
                  @click="
                    getStopRoutes(
                      badAccessStops.toStop.name,
                      badAccessStops.toStop.id,
                      badAccessStops.toStop.code,
                      badAccessStops.toStop.desc,
                      badAccessStops.toStop.wheelchairBoarding,
                      badAccessStops.toStop.point.coordinates
                    )
                  "
                >
                </l-marker>
              </div>
            </div>
          </div>
        </div>
        <!-- Popups -->
        <l-layer-group ref="stopsPopup">
          <l-popup :latLng="popup.stop.coordinates">
            <b>{{ popup.stop.stopName }}</b>
            <b-list-group-item>
              <b>ID</b>:
              {{ popup.stop.stopId }}
            </b-list-group-item>
            <b-list-group-item>
              <b>Código</b>:
              {{ popup.stop.stopCode }}
            </b-list-group-item>
            <b-list-group-item>
              <b>Descripción</b>:
              {{ popup.stop.stopDesc }}
            </b-list-group-item>
            <b-list-group-item v-if="popup.stop.stopWheelchair == 1">
              <img src="@/assets/wheelchair.svg" width="20" height="20" />
            </b-list-group-item>
            <div v-if="isLoading">
              <b-list-group-item> Cargando líneas... </b-list-group-item>
            </div>
            <div v-if="!isLoading">
              <b-list-group-item v-if="stopRoutes == ''">
                No se encontraron líneas
              </b-list-group-item>
              <b-list-group
                v-for="stopRoute in stopRoutes"
                :key="stopRoute.id"
                @click="
                  getRoute(
                    stopRoute.id,
                    stopRoute.shortName,
                    stopRoute.longName,
                    stopRoute
                  )
                "
              >
                <b-list-group-item>
                  <b-link
                    >Línea: {{ stopRoute.shortName }}
                    {{ stopRoute.longName }}</b-link
                  >
                </b-list-group-item>
              </b-list-group>
              <div class="div-b-link-popup text-right" v-if="stopRoutes != ''">
                <b-link @click="openStopWindow()">Ver horarios </b-link>
              </div>
              <div
                class="div-b-link-popup text-right"
                v-if="
                  user.authority == 'ADMIN' || user.authority == 'MUNICIPAL'
                "
              >
                <b-link v-b-modal.isochrone-modal>Dibujar isócronas</b-link>
              </div>
            </div>
          </l-popup>
        </l-layer-group>
        <l-layer-group ref="shapesPopup">
          <l-popup>
            <b>Agencia</b>: {{ popup.shape.agencyName }} ({{
              popup.shape.agencyId
            }})
            <b-list-group-item>
              <b>Línea</b>:
              {{ popup.shape.routeShortName }}
            </b-list-group-item>
            <b-list-group-item>
              <b>Nombre</b>:
              {{ popup.shape.routeLongName }}
            </b-list-group-item>
            <b-list-group-item>
              <b>URL</b>:
              <a :href="popup.shape.routeUrl" target="_blank">{{
                popup.shape.routeUrl
              }}</a>
            </b-list-group-item>
          </l-popup>
        </l-layer-group>

        <l-polyline
          v-for="routeShape in routeShapes"
          :key="routeShape.id"
          :lat-lngs="routeShape.extension.coordinates"
          :color="'green'"
        >
          <l-popup>
            <b>Agencia</b>: {{ route.agencyId.name }} ({{ route.agencyId.id }})
            <b-list-group-item>
              <b>Línea</b>:
              {{ route.shortName }}
            </b-list-group-item>
            <b-list-group-item>
              <b>Nombre</b>:
              {{ route.longName }}
            </b-list-group-item>
            <b-list-group-item>
              <b>URL</b>:
              <a :href="route.url" target="_blank">{{ route.url }}</a>
            </b-list-group-item>
          </l-popup>
        </l-polyline>

        <!-- Rutas -->
        <div class="container" id="app-container" v-if="checkedSubwayShapes">
          <div v-for="subwayShape in subwayShapes" :key="subwayShape.id">
            <div v-for="route in subwayShape.routes" :key="route.id">
              <l-polyline
                class="subway-shapes"
                :lat-lngs="subwayShape.extension.coordinates"
                :color="'#' + route.routeId.color"
                @click="loadShapePopup(subwayShape, $event)"
              >
              </l-polyline>
            </div>
          </div>
        </div>
        <div class="container" id="app-container" v-if="checkedBusShapes">
          <div v-for="busShape in busShapes" :key="busShape.id">
            <div v-for="route in busShape.routes" :key="route.id">
              <l-polyline
                class="bus-shapes"
                :lat-lngs="busShape.extension.coordinates"
                :color="'#' + route.routeId.color"
                @click="loadShapePopup(busShape, $event)"
              >
              </l-polyline>
            </div>
          </div>
        </div>
        <!-- Isócronas -->
        <div v-for="(areas, keyIso) in isochroneArea" :key="keyIso">
          <div v-for="(area, keyArea) in areas" :key="keyArea">
            <l-polygon
              :lat-lngs="area"
              :color="isochroneColor[keyIso]"
              :fillColor="isochroneColor[keyIso]"
            ></l-polygon>
          </div>
        </div>
      </l-map>
      <!-- Ventana de horario de una ruta concreta -->
      <hsc-window-style-white id="window-route">
        <hsc-window
          :title="window_title"
          :closeButton="true"
          :resizable="true"
          :isScrollable="true"
          :minWidth="300"
          :minHeight="300"
          :maxWidth="600"
          :maxHeight="400"
          positionHint="center"
          :isOpen.sync="window_open"
        >
          Línea {{ window_stop_short_name }}, {{ window_stop_long_name }}
          <br />
          Horario del {{ date }}:
          <b-table
            striped
            hover
            :items="routeSchedule"
            :fields="routeScheduleWindowFields"
          >
          </b-table>
        </hsc-window>
      </hsc-window-style-white>
    </div>
    <!-- Ventana con los horarios de una parada -->
    <hsc-window-style-white id="window">
      <hsc-window
        :title="stop_window_title"
        :closeButton="true"
        :resizable="true"
        :isScrollable="true"
        :minWidth="300"
        :minHeight="300"
        :maxWidth="600"
        :maxHeight="400"
        positionHint="center"
        :isOpen.sync="stop_window_open"
      >
        Horario del {{ date }}:
        <b-table
          striped
          hover
          :items="routeStopSchedule"
          :fields="routeStopScheduleWindowFields"
        >
        </b-table>
      </hsc-window>
    </hsc-window-style-white>
    <!-- Modal isócronas -->
    <b-modal
      id="isochrone-modal"
      title="Calcular isócronas"
      @hide="resetIsochroneModal"
      @ok="drawIsochrones"
      centered
    >
      <label>Tiempo en minutos de la primera área (0-120):</label>
      <b-form-input
        v-model="isochroneTimes[0]"
        placeholder="10"
        type="number"
        min="0"
        max="120"
      ></b-form-input>
      <label>Tiempo en minutos de la segunda área (0-120):</label>
      <b-form-input
        v-model="isochroneTimes[1]"
        placeholder="20"
        type="number"
        min="0"
        max="120"
      ></b-form-input>
      <label>Tiempo en minutos de la tercera área (0-120):</label>
      <b-form-input
        v-model="isochroneTimes[2]"
        placeholder="30"
        type="number"
        min="0"
        max="120"
      ></b-form-input>
    </b-modal>
  </div>
</template>

<script>
import store from "@/common/store";
import {
  LMap,
  LTileLayer,
  LControl,
  LCircleMarker,
  LPopup,
  LPolyline,
  LMarker,
  LIcon,
  LPolygon,
  LControlZoom,
  LLayerGroup,
} from "vue2-leaflet";
import ContextMenu from "vue-context-menu";
import StopsRepository from "@/repositories/StopsRepository";
import ShapesRepository from "@/repositories/ShapesRepository";
import PlannerRepository from "@/repositories/PlannerRepository";
import RoutesRepository from "@/repositories/RoutesRepository";
import StopTimesRepository from "@/repositories/StopTimesRepository";
import P from "polyline-encoded";

export default {
  components: {
    LMap,
    LTileLayer,
    LControl,
    LCircleMarker,
    LPopup,
    LPolyline,
    LMarker,
    LIcon,
    LPolygon,
    LControlZoom,
    LLayerGroup,
    ContextMenu,
  },
  data() {
    return {
      user: store.state.user,
      loading: store.state.loading,
      badAccessStops: store.badAccessStops,
      stops: [],
      busStops: [],
      subwayStops: [],
      shapes: [],
      busShapes: [],
      subwayShapes: [],
      url: "https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}",
      attribution:
        "Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012",
      zoom: 12,
      center: [40.416729, -3.703339],
      collapseStopsList: false,
      collapseShapesList: false,
      checkedStops: false,
      checkedBusStops: false,
      checkedSubwayStops: false,
      checkedShapes: false,
      checkedBadStops: false,
      checkedBusShapes: false,
      checkedSubwayShapes: false,
      coordinates: "",
      start_point: "",
      end_point: "",
      plans: "",
      selected_plan: 0,
      plan_button_disabled: true,
      iconBusStop: L.icon({
        iconUrl: require("../assets/bus-stop.svg"),
        iconSize: [25, 25],
        iconAnchor: [5, 10],
      }),
      iconBadBusStop: L.icon({
        iconUrl: require("../assets/bad-bus-stop.svg"),
        iconSize: [25, 25],
        iconAnchor: [5, 10],
      }),
      iconSubwayStop: L.icon({
        iconUrl: require("../assets/metro-stop.svg"),
        iconSize: [25, 25],
        iconAnchor: [5, 10],
      }),
      iconBadSubwayStop: L.icon({
        iconUrl: require("../assets/bad-metro-stop.svg"),
        iconSize: [25, 25],
        iconAnchor: [5, 10],
      }),
      stopRoutes: [],
      routeShapes: null,
      stopTimes: null,
      window_open: false,
      window_title: "",
      window_stop_short_name: "",
      window_stop_long_name: "",
      date: null,
      route: null,
      stopStopTimes: null,
      stop_window_open: false,
      stop_window_title: "",
      isochroneArea: [],
      isochroneTimes: [10, 20, 30],
      isochroneColor: ["red", "orange", "green"],
      isLoading: false,
      final_plans: [],
      itinerarie: null,
      itineraries_list: [],
      itinerarie: {
        plan: "",
        duration: "",
        departure_time: "",
        arrival_time: "",
        walks: {
          shape_walks: {
            polyline: [],
            color: "",
          },
          streets: {
            from: [],
            to: [],
          },
          departure_time: [],
          duration: [],
        },
        bus: {
          route_name: [],
          shape_bus: {
            polyline: [],
            color: "",
          },
          departure_time: [],
          duration: [],
        },
        subway: {
          route_name: [],
          shape_subway: {
            polyline: [],
            color: "",
          },
          departure_time: [],
          duration: [],
        },
      },
      popup: {
        stop: {
          stopName: "",
          stopId: "",
          stopCode: "",
          stopDesc: "",
          stopWheelchair: 0,
          coordinates: [],
        },
        shape: {
          routeId: "",
          agencyName: "",
          agencyId: "",
          routeShortName: "",
          routeLongName: "",
          routeDesc: "",
          routeUrl: "",
          coordinates: [],
        },
      },

      routeSchedule: [],
      routeScheduleWindowFields: [
        { key: "time", label: "Salida" },
        { key: "route", label: "Línea" },
      ],
      routeStopSchedule: [],
      routeStopScheduleWindowFields: [
        { key: "time", label: "Salida" },
        { key: "route", label: "Línea" },
      ],
    };
  },
  mounted() {
    this.fetchData();
    this.getDate();
  },
  beforeRouteLeave(to, from, next) {
    (this.badAccessStops.fromStop = ""),
      (this.badAccessStops.toStop = ""),
      (this.badAccessStops.enabled = false);
    next();
  },
  methods: {
    async fetchData() {
      store.state.loading.map = true;
      if (this.badAccessStops.enabled == true) {
        this.checkedBadStops = "checkedBadStops";
        this.collapseStopsList = true;
      }
      this.stops = await StopsRepository.findAll();
      this.shapes = await ShapesRepository.findAll();
      this.divideLists();
      store.state.loading.map = false;
    },
    divideLists() {
      this.busStops = [];
      this.subwayStops = [];
      this.busShapes = [];
      this.subwayShapes = [];
      for (var i = 0; i < this.stops.length; i++) {
        for (var j = 0; j < this.stops[i].stopsRouteType.length; j++) {
          var stopRouteType = this.stops[i].stopsRouteType[j].stopsRouteType;
          if (stopRouteType == "AUTOBÚS") this.busStops.push(this.stops[i]);
          if (stopRouteType == "METRO") this.subwayStops.push(this.stops[i]);
        }
      }
      for (var i = 0; i < this.shapes.length; i++) {
        for (var j = 0; j < this.shapes[i].routes.length; j++) {
          var route = this.shapes[i].routes[j].routeId;
          if (route.type == "3") this.busShapes.push(this.shapes[i]);
          if (route.type == "1") this.subwayShapes.push(this.shapes[i]);
        }
      }
    },
    handleStartPoint() {
      this.start_point = this.coordinates;
      this.checkPlanButton();
    },
    handleEndPoint() {
      this.end_point = this.coordinates;
      this.checkPlanButton();
    },
    handleContextMenu(event) {
      this.coordinates = event.latlng;
    },
    async handleClickPlan() {
      this.plans = await PlannerRepository.planRoute(
        this.start_point,
        this.end_point
      );
      this.loadItineraries();
      this.loadItinerarie();
    },
    loadItineraries() {
      var plan = this.plans.plan;
      this.itineraries_list = [];
      for (var i = 0; i < plan.itineraries.length; i++) {
        var itinerarie = {
          plan: "",
          duration: "",
          departure_time: "",
          arrival_time: "",
          walks: {
            shape_walks: {
              polyline: [],
              color: "",
            },
            streets: {
              from: [],
              to: [],
            },
            departure_time: [],
            duration: [],
          },
          bus: {
            route_name: [],
            shape_bus: {
              polyline: [],
              color: "",
            },
            departure_time: [],
            duration: [],
          },
          subway: {
            route_name: [],
            shape_subway: {
              polyline: [],
              color: "",
            },
            departure_time: [],
            duration: [],
          },
        };
        var date = null;
        var duration = 0;
        for (var j = 0; j < plan.itineraries[i].legs.length; j++) {
          var encoded = plan.itineraries[i].legs[j].legGeometry.points;
          var decoded = P.decode(encoded);
          if (plan.itineraries[i].legs[j].mode === "WALK") {
            itinerarie.walks.shape_walks.polyline.push(decoded);
            itinerarie.walks.shape_walks.color = "grey";
            itinerarie.walks.streets.from.push(
              plan.itineraries[i].legs[j].from.name
            );
            itinerarie.walks.streets.to.push(
              plan.itineraries[i].legs[j].to.name
            );
            date = new Date(plan.itineraries[i].legs[j].startTime);
            itinerarie.walks.departure_time.push(
              date.getHours() +
                ":" +
                (date.getMinutes() < 10
                  ? "0" + date.getMinutes()
                  : date.getMinutes())
            );
            duration = this.convertHMS(
              (plan.itineraries[i].legs[j].endTime -
                plan.itineraries[i].legs[j].startTime) /
                1000
            );
            if (duration.charAt(0) == "0") duration = duration.slice(1);
            itinerarie.walks.duration.push(duration);
          }
          if (plan.itineraries[i].legs[j].mode === "BUS") {
            itinerarie.bus.shape_bus.polyline.push(decoded);
            itinerarie.bus.shape_bus.color = "green";
            itinerarie.bus.route_name.push(
              plan.itineraries[i].legs[j].routeShortName
            );
            date = new Date(plan.itineraries[i].legs[j].startTime);
            itinerarie.bus.departure_time.push(
              date.getHours() +
                ":" +
                (date.getMinutes() < 10
                  ? "0" + date.getMinutes()
                  : date.getMinutes())
            );
            duration = this.convertHMS(
              (plan.itineraries[i].legs[j].endTime -
                plan.itineraries[i].legs[j].startTime) /
                1000
            );
            if (duration.charAt(0) == "0") duration = duration.slice(1);
            itinerarie.bus.duration.push(duration);
          }
          if (plan.itineraries[i].legs[j].mode === "SUBWAY") {
            itinerarie.subway.shape_subway.polyline.push(decoded);
            itinerarie.subway.shape_subway.color = "red";
            itinerarie.subway.route_name.push(
              plan.itineraries[i].legs[j].routeShortName
            );
            date = new Date(plan.itineraries[i].legs[j].startTime);
            itinerarie.subway.departure_time.push(
              date.getHours() +
                ":" +
                (date.getMinutes() < 10
                  ? "0" + date.getMinutes()
                  : date.getMinutes())
            );
            duration = this.convertHMS(
              (plan.itineraries[i].legs[j].endTime -
                plan.itineraries[i].legs[j].startTime) /
                1000
            );
            if (duration.charAt(0) == "0") duration = duration.slice(1);
            itinerarie.subway.duration.push(duration);
          }
        }
        itinerarie.departure_time = this.getDateTime(
          plan.itineraries[i].startTime
        );
        itinerarie.arrival_time = this.getDateTime(plan.itineraries[i].endTime);
        itinerarie.duration = this.convertHMS(plan.itineraries[i].duration);
        this.itineraries_list.push(itinerarie);
      }
    },
    loadItinerarie() {
      for (var i = 0; i < this.plans.plan.itineraries.length; i++) {
        var list_length =
          this.itineraries_list[i].walks.streets.from.length >
          this.itineraries_list[i].bus.route_name.length
            ? this.itineraries_list[i].walks.streets.from.length
            : this.itineraries_list[i].bus.route_name.length;
        var plan = "";
        for (var j = 0; j < list_length; j++) {
          var from = this.itineraries_list[i].walks.streets.from;
          var to = this.itineraries_list[i].walks.streets.to;
          var routes = this.itineraries_list[i].bus.route_name;
          if (from[j] == "Origin" && j == 0) {
            plan += from[j] + " => " + to[j];
          } else if (j == 0) {
            plan += "Línea " + routes[j];
          }
          if (from[j] != undefined && j != 0) {
            plan += " => " + from[j] + " => " + to[j];
          }
          if (routes[j] != undefined) {
            plan += " => Línea " + routes[j];
          }
        }
        this.itineraries_list[i].plan = plan;
      }
      this.itinerarie = this.itineraries_list[this.selected_plan];
    },
    resetMarkers() {
      this.start_point = "";
      this.end_point = "";
      this.plans = "";
      this.itinerarie.walks.shape_walks.polyline = [];
      this.itinerarie.bus.shape_bus.polyline = [];
      this.itinerarie.subway.shape_subway.polyline = [];
      this.selected_plan = 0;
      this.plan_button_disabled = true;
      this.routeShapes = [];
      this.isochroneArea = [];
    },
    checkPlanButton() {
      this.plans = "";
      this.itinerarie.walks.shape_walks.polyline = [];
      this.itinerarie.bus.shape_bus.polyline = [];
      this.itinerarie.subway.shape_subway.polyline = [];
      this.isochroneArea = [];
      if (this.start_point !== "" && this.end_point !== "") {
        this.plan_button_disabled = false;
      }
    },
    makeShapeColor() {
      return "#" + ((Math.random() * 0xffffff) << 0).toString(16); // Color random
    },
    async getStopRoutes(
      stopName,
      stopId,
      stopCode,
      stopDesc,
      stopWheelchair,
      stopCoordinates
    ) {
      this.updatePopup(
        stopName,
        stopId,
        stopCode,
        stopDesc,
        stopWheelchair,
        stopCoordinates
      );
      this.isLoading = true;
      this.stopRoutes = await RoutesRepository.findByStop(stopId);
      this.isLoading = false;
      this.stopStopTimes = await StopTimesRepository.findByStop(stopId);
    },
    updatePopup(
      stopName,
      stopId,
      stopCode,
      stopDesc,
      stopWheelchair,
      stopCoordinates
    ) {
      this.popup.stop.stopName = stopName;
      this.popup.stop.stopId = stopId;
      this.popup.stop.stopCode = stopCode;
      this.popup.stop.stopDesc = stopDesc;
      this.popup.stop.stopWheelchair = stopWheelchair;
      this.popup.stop.coordinates = stopCoordinates;
      this.$refs.stopsPopup.mapObject.openPopup(stopCoordinates);
    },
    loadShapePopup(shape, event) {
      this.popup.shape.routeId = shape.routes[0].routeId.id;
      this.popup.shape.agencyName = shape.routes[0].routeId.agencyId.name;
      this.popup.shape.agencyId = shape.routes[0].routeId.agencyId.id;
      this.popup.shape.routeShortName = shape.routes[0].routeId.shortName;
      this.popup.shape.routeLongName = shape.routes[0].routeId.longName;
      this.popup.shape.routeUrl = shape.routes[0].routeId.url;
      this.$refs.shapesPopup.mapObject.openPopup(event.latlng);
    },
    async getRoute(
      stopRouteId,
      stopRouteShortName,
      stopRouteLongName,
      stopRoute
    ) {
      this.route = stopRoute;
      await this.getRouteShape(this.popup.stop.stopId, stopRouteId);
      this.openWindow(
        this.popup.stop.stopName,
        stopRouteShortName,
        stopRouteLongName
      );
    },
    async getRouteShape(stopId, routeId) {
      this.routeShapes = await ShapesRepository.findByRoute(routeId);
      this.stopTimes = await StopTimesRepository.findByStopAndRoute(
        stopId,
        routeId
      );
    },
    openWindow(stop_name, stop_route_short_name, stop_route_long_name) {
      this.window_title = stop_name;
      this.window_open = true;
      this.window_stop_short_name = stop_route_short_name;
      this.window_stop_long_name = stop_route_long_name;
      var routeSchedule = [];
      for (var i = 0; i < this.stopTimes.length; i++) {
        routeSchedule.push({
          time: this.stopTimes[i].arrivalTime,
          route: stop_route_long_name + "(" + stop_route_short_name + ")",
        });
      }
      this.routeSchedule = routeSchedule;
    },
    openStopWindow() {
      this.stop_window_title =
        this.popup.stop.stopName + " " + this.popup.stop.stopDesc;
      this.stop_window_open = true;
      var routeStopSchedule = [];
      for (var i = 0; i < this.stopStopTimes.length; i++) {
        routeStopSchedule.push({
          time: this.stopStopTimes[i].arrivalTime,
          route:
            this.stopStopTimes[i].tripId.routeId.longName +
            "(" +
            this.stopStopTimes[i].tripId.routeId.shortName +
            ")",
        });
      }
      this.routeStopSchedule = routeStopSchedule;
    },
    getDate() {
      var today = new Date().toLocaleDateString();
      this.date = today
        //today.getDay() + "-" + today.getMonth() + "-" + today.getFullYear();
    },
    getDateTime(time) {
      var date = new Date(time);
      var hours = date.getHours();
      var minutes = date.getMinutes();
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      return hours + ":" + minutes;
    },
    async drawIsochrones() {
      // Para cambiar las coordenadas de posicion en los arrays devueltos
      Array.prototype.swapItems = function (a, b) {
        this[a] = this.splice(b, 1, this[a])[0];
        return this;
      };
      this.isochroneArea = [];
      var response = await PlannerRepository.findIsochrones(
        this.popup.stop.coordinates,
        this.isochroneTimes
      );

      for (var n = 0; n < response.features.length; n++) {
        var isochrones = [];
        var polygones = response.features[n].geometry.coordinates;
        // Cambia las coordenadas de posicion y guarda los polygonos en isochrones
        for (var i = 0; i < polygones.length; i++) {
          var polygon = [];
          for (var j = 0; j < polygones[i][0].length; j++) {
            polygon.push(polygones[i][0][j].swapItems(0, 1));
          }
          isochrones.push(polygon);
        }
        this.isochroneArea.push(isochrones);
      }
    },
    convertHMS(value) {
      const sec = parseInt(value, 10); // convert value to number if it's string
      let hours = Math.floor(sec / 3600); // get hours
      let minutes = Math.floor((sec - hours * 3600) / 60); // get minutes
      let seconds = sec - hours * 3600 - minutes * 60; //  get seconds
      // add 0 if value < 10; Example: 2 => 02
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      if (hours != "00") {
        return hours + "h " + minutes + "m";
      } else if ((hours == "00") & (minutes != "00")) {
        return minutes + "m";
      } else {
        return seconds + "s";
      }
    },
    resetIsochroneModal() {
      this.isochroneTimes = [10, 20, 30];
    },
  },
};
</script>
