a.router-link {
    all: inherit;
    color: white;
}

a.router-link:hover {
    all: inherit;
}

a.router-link-exact-active,
a.router-link-exact-active:hover {
    color: #fff;
}

em {
    color: white;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.home {
    width: 800px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.bus-logo {
    margin-top: 5%;
}

#window-route {
    position: relative;
    z-index: 11;
}

#window {
    position: relative;
    z-index: 10;
}

#map {
    position: absolute;
    z-index: 1;
    height: calc( 100vh - 6em);
}

.checkbox-list,
.plans-list {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
    max-width: 400px;
    margin: 5px;
}

.b-form-radio {
    margin: 5px;
}

.checkbox-sublist {
    background-color: inherit;
    background-clip: inherit;
    list-style-type: inherit;
    font-weight: inherit;
    font-size: inherit;
    max-width: inherit;
}

.final-plans {
    font-size: 12px;
}


/* Color de la ruta al pasar el ratón */

.leaflet-interactive:hover {
    stroke: rgb(35, 156, 156);
}

#context-menu li {
    padding-left: 5px;
}

#context-menu li:hover {
    color: #1976d2;
}

.leaflet-popup-content-wrapper {
    position: relative;
}

.leaflet-popup-content {
    padding: 10px;
}

a:hover,
a.router-link:hover,
.b-icon-add:hover,
.b-icon-actions {
    cursor: pointer;
}

.b-icon-add {
    width: 90px;
    height: 90px;
    color: #007bff;
}

.b-icon-add:hover {
    color: cyan;
}

.b-icon-actions {
    width: 15px;
    height: 15px;
}

.b-icon-actions:hover {
    color: #1976d2;
}

.b-button-new {
    margin-top: 1%;
}

.b-button-load-model {
    margin-left: 1%;
    margin-top: 1%;
}

.inline-block-child {
    display: inline-block;
}

.b-button-top-table {
    margin-bottom: 1px;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive:hover {
    width: 35px !important;
    height: 35px !important;
}

.import-files,
.manage-view,
.accesibility-view {
    margin: 3%;
}