<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-brand>
        <router-link class="router-link" to="/">GTFSapp</router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item
            ><router-link class="router-link" to="/map" v-if="isLogged"
              >Mapa
              <b-spinner
                v-if="loading.map"
                small
                class="text-break"
                label="Spinning"
              ></b-spinner> </router-link
          ></b-nav-item>
          <b-nav-item v-if="!loading.import">
            <router-link
              class="router-link"
              to="/accesibility"
              v-if="user.authority == 'ADMIN' || user.authority == 'MUNICIPAL'"
              >Accesibilidad
              <b-spinner
                v-if="loading.badStops"
                small
                class="text-break"
                label="Spinning"
              ></b-spinner>
            </router-link>
          </b-nav-item>
          <b-nav-item
            ><router-link
              class="router-link"
              to="/manage"
              v-if="user.authority == 'ADMIN'"
              >Gestionar usuarios</router-link
            ></b-nav-item
          >
          <b-nav-item>
            <router-link
              class="router-link"
              to="/import"
              v-if="user.authority == 'ADMIN'"
              >Gestionar modelo
              <b-spinner
                v-if="loading.import"
                small
                class="text-break"
                label="Spinning"
              ></b-spinner>
            </router-link>
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <em v-if="!isLogged">Iniciar sesión</em>
              <em v-if="isLogged">{{ user.login }} ({{ user.authority }})</em>
            </template>
            <b-dropdown-item v-if="!isLogged"
              ><router-link
                class="router-link"
                to="/login"
                v-b-modal.modal-login
                >Acceder</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="isLogged"
              ><router-link class="router-link" to="/" @click.native="logout()"
                >Salir</router-link
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <notifications :max="3" :width="400" position="top center" />
    <router-view />
  </div>
</template>

<script>
import store from "@/common/store";
import auth from "@/common/auth";

export default {
  name: "App",
  data() {
    return {
      user: store.state.user,
      loading: store.state.loading,
    };
  },
  computed: {
    isLogged() {
      return this.user.logged;
    },
  },
  methods: {
    logout() {
      auth.logout();
      // Después de hacer logout nos vamos a home
      if (this.$router.currentRoute.name != "Home") {
        this.$router.push({ name: "Home" });
      }
    },
  },
};
</script>