<template>
  <div>
    <b-modal id="modal-login" title="Acceder" centered hide-footer @hide="goBack">
      <b-form @submit.prevent="userLogin">
        <b-form-group label="Nombre de usuario:" label-for="input-1">
          <b-form-input
            v-model="login.username"
            placeholder="Introduce el nombre de usuario"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Contraseña:" label-for="input-2">
          <b-form-input
            v-model="login.password"
            type="password"
            placeholder="Introduce la contraseña"
            required
          ></b-form-input>
        </b-form-group>
        <div class="b-button-login text-center">
          <b-button type="submit" variant="primary">Iniciar sesión</b-button>
        </div>
      </b-form>
      <div class="register-modal text-center">
        ¿No tienes una cuenta? <b-link v-b-modal.modal-register>Registrarse</b-link>
      </div>
    </b-modal>
    <b-modal id="modal-register" title="Registrarse" centered hide-footer>
      <b-form @submit.prevent="userRegister">
        <b-form-group label="Nombre de usuario:" label-for="input-1">
          <b-form-input
            v-model="register.username"
            placeholder="Introduce el nombre de usuario"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Contraseña:" label-for="input-2">
          <b-form-input
            v-model="register.password"
            type="password"
            placeholder="Introduce la contraseña"
            required
          ></b-form-input>
        </b-form-group>
        <div class="b-button-register text-center">
          <b-button type="submit" variant="primary">Registrarse</b-button>
        </div>
      </b-form>
    </b-modal>
    
  </div>
</template>

<script>
import auth from "../common/auth";
import AccountRepository from "../repositories/AccountRepository";

export default {
  data() {
    return {
      login:{
        username: "",
        password: "",
      },
      register: {
        username: "",
        password: "",
      }
    };
  },
  methods: {
    userLogin() {
      auth
        .login({
          login: this.login.username,
          password: this.login.password,
        })
        .then(() => {
          // vamos a la página anterior después de autenticarnos
          this.$router.go(-1);
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
        });
    },
    userRegister() { 
      AccountRepository
        .registerAccount({
          login: this.register.username,
          password: this.register.password,
        })
        .then(() => {
          this.login.username = this.register.username;
          this.login.password = this.register.password;
          this.userLogin();
        })
        .catch((err) => {
          this.$notify({
            text: err.response.data.message,
            type: "error",
          });
          this.register.username = "";
          this.register.password = "";
        });
    },
    goBack(){
      this.$router.go(-1);
    }
  },
};
</script>
